.back-to-homepage-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-to-homepage-btn-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
}

.create-profile-card {
    background-color: #f8f9fa;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Profile Card Container for Admin */
.profile-card-container {
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.profile-card-button-gap {
    gap: 10px;
}

.custom-modal .modal-dialog {
    max-width: 80%;
    margin: auto;
}

.custom-modal .modal-content {
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #f8f9fa;
}

#profileForm .form-label {
    font-weight: 600;
    color: #495057;
    margin-bottom: 0.5rem;
}

#profileForm .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.75rem;
    transition: all 0.2s;
}

#profileForm .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#profileForm button[type="submit"] {
    background-color: #007bff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.2s;
}

#profileForm button[type="submit"]:hover {
    background-color: #0056b3;
}


.invalid-feedback {
    display: block; 
    color: #dc3545; 
    font-size: 0.875rem; 
    margin-top: 0.25rem; 
}